body{
	background-color: #004d33;
	background-repeat: no-repeat;
	font-family: verdana;
	font-size: 15px;
}

h1{
	color: black;
	text-align: center;
}

form{
	margin-top: 150px;
}

fieldset{
	margin: auto;

	width: 500px;
	background-color: white;
}


input{
	display: block;
	margin: auto;
	width: 50%;
	line-height: 1.5rem;
}

input.submit-button{
	color: #ffffff;
	background-color: #d64829;
	margin-bottom: 1.2rem;
	line-height: 40px;
	font-size: 20px;
	border:none;
	border-radius: 7px;

}
